@font-face{
    font-family: "GOST type B";
    src: url("GOST type B.ttf");
    font-size: 12vw;
}
        body {
            margin: 0;
            font-family: GOST type B;
            color: black;
        width: 600px;
        height: 650px;

        }

        #chat {
            width: 450px;
            height: 650px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;

        }

        #chat::-webkit-scrollbar {
            display: none;
        }

        #chat ul {
            list-style-type: none;
            list-style-position: outside;
            display: flex;
             flex-direction: column-reverse;
             font-size: 30px;
             word-wrap: break-word;
        }

        #chat li {
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        #chat li.mod {
            background-color: hsl(166, 60%, 93%);
            color: hsl(166, 62%, 32%);
        }

        #chat li.sub {
            background-color: hsl(235, 61%, 93%);
            color: hsl(235, 62%, 32%);
        }


        /* Animation */
        @keyframes slide-in-left {
            from {
                transform: translateX(300px);
                opacity: 0;
            }

            to {
                transform: translateX(0);
                opacity: 1;
            }
        }


        #chat li:last-of-type {
            animation-name: slide-in-left;
            animation-duration: 0.15s;
            animation-timing-function: ease-in;
        }